<?xml version="1.0"?>
<config>
    <modules>
        <EMS_Pay>
            <version>1.1.0</version>
        </EMS_Pay>
    </modules>
    <global>
        <blocks>
            <ems_pay>
                <class>EMS_Pay_Block</class>
            </ems_pay>
        </blocks>
        <helpers>
            <ems_pay>
                <class>EMS_Pay_Helper</class>
            </ems_pay>
        </helpers>
        <models>
            <ems_pay>
                <class>EMS_Pay_Model</class>
            </ems_pay>
        </models>
    </global>
    <frontend>
        <routers>
            <ems_pay>
                <use>standard</use>
                <args>
                    <module>EMS_Pay</module>
                    <frontName>emspay</frontName>
                </args>
            </ems_pay>
        </routers>
        <translate>
            <modules>
                <EMS_Pay>
                    <files>
                        <default>EMS_Pay.csv</default>
                    </files>
                </EMS_Pay>
            </modules>
        </translate>
        <layout>
            <updates>
                <ems_pay>
                    <file>ems_pay.xml</file>
                </ems_pay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <EMS_Pay>
                    <files>
                        <default>EMS_Pay.csv</default>
                    </files>
                </EMS_Pay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <ems_pay_general>
                <operation_mode>test</operation_mode>
                <log_enabled>1</log_enabled>
                <checkout_option>classic</checkout_option>
                <shared_secret_test backend_model="adminhtml/system_config_backend_encrypted" />
                <shared_secret_production backend_model="adminhtml/system_config_backend_encrypted" />
            </ems_pay_general>
            <ems_pay_cc>
                <model>ems_pay/method_cc</model>
                <active>0</active>
                <title>Credit card</title>
                <order_status>processing</order_status>
                <cctypes>ems_pay_visa,ems_pay_mastercard,ems_pay_diners</cctypes>
                <enable_3dsecure>1</enable_3dsecure>
            </ems_pay_cc>
            <ems_pay_klarna>
                <model>ems_pay/method_klarna</model>
                <active>0</active>
                <title>Klarna Invoice</title>
                <order_status>processing</order_status>
            </ems_pay_klarna>
            <ems_pay_paypal>
                <model>ems_pay/method_paypal</model>
                <active>0</active>
                <title>Paypal</title>
                <order_status>processing</order_status>
            </ems_pay_paypal>
            <ems_pay_sofort>
                <model>ems_pay/method_sofort</model>
                <active>0</active>
                <title>Sofort</title>
                <order_status>processing</order_status>
            </ems_pay_sofort>
            <ems_pay_masterpass>
                <model>ems_pay/method_masterpass</model>
                <active>0</active>
                <title>Masterpass</title>
                <order_status>processing</order_status>
            </ems_pay_masterpass>
            <ems_pay_maestro>
                <model>ems_pay/method_maestro</model>
                <active>0</active>
                <title>Maestro</title>
                <order_status>processing</order_status>
            </ems_pay_maestro>
            <ems_pay_ideal>
                <model>ems_pay/method_ideal</model>
                <active>0</active>
                <title>iDEAL</title>
                <order_status>processing</order_status>
                <bank_selection_enabled>1</bank_selection_enabled>
            </ems_pay_ideal>
            <ems_pay_bancontact>
                <model>ems_pay/method_bancontact</model>
                <active>0</active>
                <title>Bancontact</title>
                <order_status>processing</order_status>
            </ems_pay_bancontact>
        </payment>
    </default>
</config>
